.banner {
    width: 350px;
    height: 500px;
    margin: 0 auto;
    animation: carrossel 8s infinite;
    animation-direction: alternate;
}

@keyframes carrossel {
    0%, 30% {
        background-image: url(/imgs/1.jpg);
        background-size: cover;
    }
    35%, 65% {
        background-image: url(/imgs/2.jpg);
        background-size: cover;
    }
    70%, 100% {
        background-image: url(/imgs/3.jpg);
        background-size: cover;
    }
}